fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
httpx
email-validator
numpy
scikit-learn
joblib
APScheduler
xgboost
torch
psycopg2-binary
pyjwt
passlib
bcrypt
python-multipart
